body {
  margin:0;
  background-image: url("pexels-lumn-399160.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

 

/* navigation*/

.logo {
  height:50%;
  width:20%;
}

.round1 {
  z-index: 1;
  position: absolute;
  margin-left:3%;
  margin-top: -1%;
  height:4%;
  width:2%;
  border-radius:50%;
  border:solid 5vmin rgba(194, 145, 9, 0.712);
  opacity:.005;/* this makes the logo transaprent*/
  -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.round2 {
  z-index: 1;
  margin-top: 15%;
  margin-left: 10%;
  height:15vmin;
  width:15vmin;
  border-radius:50%;
  background:rgb(12, 12, 12);
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.txt {
  text-align: center;
  font-size: 95%;
  letter-spacing: .2rem;
  font-family: 'Vollkorn', serif;
  -webkit-animation: tracking-in-expand .4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand .4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/*navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
  font-family: 'Rubik', sans-serif;
  margin-left: 45%;
  margin-right: 0%;
  margin-top:-10% ;

  
}
li {
  float: left;

  
}

 li a {
  display: block;
  color: rgb(12, 12, 12);
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

li a:hover{
  background-color:  rgb(247, 241, 241,0.1);
  transform: translate(0, -10px);
 
}
.clock{
  position:relative;
  margin-top: -90%;
  margin-left: 90%;
  font-family: monospace;
  font-weight: 500;
}

/* home*/
.links{
  display: flex;
  position: relative;
  left: 40%;
  width: 40%;
  margin-top: 25px;

}
 .links a:hover {
opacity:2;
}
.image{
  margin-left: 40%;
  margin-top: 10%;
}

.image img{
  border-radius: 50%;
}


.intro{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .9em ;
  text-transform: capitalize;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  letter-spacing: .4px;
  color: rgb(7, 7, 7);
  padding: 4px;
}

.btn-get-resume .btn {
  font-size: 1.5rem;
  opacity: .80;
  transition: opacity .25s ease-in-out;
  color: rgb(7, 7, 7);
  font-family: sans-serif;
  margin-left: 45%;
}

.btn-get-resume:hover {
  opacity: 0.5;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: rgb(248, 244, 244);
  border: 3px dotted;
  border-radius: 4px;
  text-decoration: none;
}


/*portfolio*/

#clock{
  color: black;
  font-family: monospace;
  font-size: 1em;
  text-decoration: underline overline rgb(12, 12, 12);
   margin-left: 1%;
}

.search-bar{
  width: 500px;
  display: block;
  margin-left: 30%;
 
}

input#search-text{
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  border: 1.5px solid rgb(10, 10, 10);
  outline: none;
}
  

button#Search{
  position: relative;
  float: right;
  width: 50px;
  height: 53.2px;
  top: -54px;
  right: -23px;
  border-radius: 0 0 0 0;
  background-color: rgb(201, 132, 5);
  border: rgb(12, 12, 12);
  font-weight: 700;
}


header {
  position: relative;
  height: 65vh;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0px 10px;
  margin-top: 5%;
}

@media (min-width: 40rem) {
  .grid_item {
    width: 50%;
  }
}
header video {
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  font-family: monospace;
  padding: 1px;
  margin-left: 25%;
  margin-top: 13%;
  cursor: pointer;
  
}

#text {
  font-size: 3em;
  color: rgb(192, 126, 3);
  text-shadow: black;
  font-weight: 900;
  font-family: monospace;
  margin-top: -7%;
  text-transform: capitalize;
}

.cube {
  width: 50px;
  height: 50px;
  background-color: rgba(121, 89, 3, 0.9);
  margin-top: 9px;
  margin-left: 25%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  opacity: 0.4;
  z-index: 1;
}

/*grid layout*/
.container{
  width: 70em;
  margin-left: 10%;
  margin-right: 90%;
}
.container h2{
  text-decoration: underline;
  margin-left: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

.grid-item{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 1.5rem;
margin-left: 5%;
margin-right: 10%;
margin-top: 2%;

}
.item{
overflow:hidden;
}

.item img:hover{
  filter: blur(0.9px);
  transition: opacity 0.5s ease-in;
  transform: scale(1.5);
}

 





/* contact form*/
/* reference code https://codepen.io/ssbalakumar/pen/uzDIA*/
.form{
	max-width:9000px;
	width:50%;
	margin:0 auto;
  position:relative;

}
.form h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  letter-spacing: 7px;
  font-size: 2.5em;
  font-weight: 200;
}
.input {
  color:rgb(14, 13, 13);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  font-weight:300;
  font-size: 1rem;
  border-radius: 7px;
  line-height: 20px;
  border:2px solid rgb(19, 18, 18);
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input:focus {
   border:1px solid rgb(163, 123, 14); }

textarea {
  height: 100px;
  line-height: 100%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:rgb(243, 242, 241);
  border-radius:7px;
  border:0;
  cursor:pointer;
  color:rgb(5, 5, 5);
  font-size:26px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-5px;
  font-weight:800;
}
[type="submit"]:hover { background:rgb(180, 105, 6); }

/*cv*/
.personal-details{
  margin-top:10% ;
  margin-left: 0%;
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(8, 8, 8) 1px;
  padding: 10px;
  background-color: rgb(7, 7, 6);
}
.personal-details h2{
  font-family: 'Times New Roman', Times, serif;
 text-transform: uppercase;
 font-size: 4rem;
 margin-left: 15%;
 color: rgb(197, 146, 6);
 letter-spacing: 0.2em;
}

.personal-details p{
  font-family: 'Times New Roman', Times, serif;
 text-transform: capitalize;
 font-size: 1.5rem;
 margin-left: 40%;
 color: rgb(168, 168, 168);

}
.about{
  margin-top:4% ;
  margin-left: 10%;
  margin-right: 90%;
  box-sizing: border-box;
  width: 80%;
  border: solid rgb(10, 10, 10) 1px;
  padding: 10px;
  background-color:rgb(8, 8, 8);
}
.about h2{
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 5%;
  color: rgb(197, 146, 6);
  letter-spacing: 0.2em;

}
.about p{
  font-family: 'Times New Roman', Times, serif;
 text-transform: capitalize;
 font-size: 1.5rem;
 margin-left: 10%;
 color: rgb(168, 168, 168);

}
h2 :hover{
  background-color:  rgb(247, 241, 241,0.1);
  transform: translate(2, -5px);
 
}
p:hover{
  cursor: default;
}
.content{
  margin-top:4% ;
  margin-left: 10%;
  margin-right: 90%;
  box-sizing: border-box;
  width: 80%;
  border: solid rgb(10, 10, 10) 1px;
  padding: 10px;
  background-color:rgb(8, 8, 8);
}
.content h2{
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 5%;
  color: rgb(197, 146, 6);
  letter-spacing: 0.2em
}
.content p{
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-left: 10%;
  color: rgb(168, 168, 168);
  
}
.skills{
  
  margin-top:4% ;
  margin-left: 10%;
  margin-right: 90%;
  box-sizing: border-box;
  width: 80%;
  border: solid rgb(10, 10, 10) 1px;
  padding: 10px;
  background-color:rgb(8, 8, 8);
}
.skills h2{
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 5%;
  color: rgb(197, 146, 6);
  letter-spacing: 0.2em
}
.skills p{ 
  
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-left: 10%;
  color: rgb(168, 168, 168);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(179, 124, 7);
  color: rgb(7, 7, 7);
  text-align: center;
  font-size: 1.2em;
}

